img{
    margin-top: 80px;
    margin-left: 36%;
    /* width: 30%; */
    /* height: 200px; */
    background-color: white;
}
body{
    background: linear-gradient(to left,rgb(46, 140, 184), rgb(94, 194, 94));
}

.head{
    margin-top: 20px;
    font-size: 50px;
    text-align: center;
    text-shadow: 2px 2px 2px white;
}

.userInfo{
    padding: 2%;
    margin: 2px;
    text-align: center;
}
.buttons{
    text-align: center;
    position: relative;
    bottom: 20px;
}
.signupButton{
    width: 120px;
    height: 40px;
    background-color: rgb(233, 16, 186);
    color: white;
}
input{
    width: 300px;
    height: 10px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    text-align: center;
    border-color: white lightblue;
}
input[type=text]:placeholder {
    color: #9b5fe9;
}