
.footer{
    /* background-color: #1e2429; */
    background-color: black;
    color: white;
    display: flex;
    flex: right;
    width: 100%;
    position: relative;
    /* padding-top: 10px; */
    padding-bottom: 80px;
    padding: 15px;
    /* margin: 10px; */
    /* padding-top: 22px; */
  }
  
  .sidebar1{
    padding: 25px;
  }
  
  .sidebar1 div{
    margin-top: 15px;
  }
  .discover div{
    font-size: 30px;
    margin-top: 35px;
    margin-left: 150px;
  }
  .events div{
    font-size: 30px;
    margin-top: 35px;
    margin-left: 250px;
  }
  .blog div{
    font-size: 30px;
    margin-top: 35px;
    margin-left: 200px;
  }
  
  .details{
    font-size:30px;
  }
  
  .hrline{
    display: flex;
    background-color: black;
    margin-bottom: 20px;
    padding-bottom: 50px;
  }
  
  .hrline p{
    margin-left: 46%;
  }