body{
    background-image: url("http://egypt.travel/media/1641/3-copy.jpg");
}
.welcome{
    text-align: center;
    color: white;
    font-size: 50px;  
    margin-top: 200px;  
}

.welcome span{
    color: #ff25c2;
}

.welname{
    margin-top: 55px;
    text-align: center;
    color: white;
    font-size: 50px;
}

.getstarted{
    margin-top: 55px;
    text-align: center;
    color: white;
    margin-left: 700px;
    font-size: 40px;
    border-radius: 10px;
    background-color: #091;
}

.roadtripname{
    position: absolute;
    top: 0px;
    color: blue;
}